### Основы работы с библиотекой yfinance

In [1]:
import pandas as pd
import numpy as np
import yfinance as yf

In [2]:
tickers = ['IEF', 'GLD', 'SPY', 'QQQ']
daily = {}

In [50]:
for i in range(len(tickers)):
    data = yf.Ticker(tickers[i]).history(period="max")
    daily[tickers[i]] = data

In [33]:
daily['IEF']

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2002-07-30,47.012063,47.115336,46.874363,46.914524,41300,0.0,0
2002-07-31,47.075214,47.379295,47.075214,47.344868,32600,0.0,0
2002-08-01,47.356302,47.562848,47.344825,47.539898,71400,0.0,0
2002-08-02,47.631712,48.021854,47.562866,47.907108,120300,0.0,0
2002-08-05,48.010383,48.148079,47.924322,48.148079,159300,0.0,0
...,...,...,...,...,...,...,...
2021-01-25,118.750000,119.059998,118.709999,119.059998,5689200,0.0,0
2021-01-26,118.940002,119.059998,118.919998,119.019997,4257100,0.0,0
2021-01-27,119.220001,119.339996,119.120003,119.160004,5764700,0.0,0
2021-01-28,119.000000,119.010002,118.720001,118.849998,5394200,0.0,0
2021-01-29,118.510002,118.790001,118.470001,118.639999,7952100,0.0,0

### Освежить информацию о свечных графиках

In [7]:
import plotly.graph_objects as go

In [12]:
df = daily['IEF']
fig = go.Figure(data = [go.Candlestick( x = df.index,
                        open=df['Open'],
                        high=df['High'],
                        low=df['Low'],
                        close=df['Close'])])

In [15]:
#fig - закомментил, т.к. подлагивает с ним

### Своя стратегию торговли (как выбирать лучший тикер и сколько его держать)

In [16]:
for ticker in tickers:
    print(len(daily[ticker]))
# мы располагаем информацией за разные промежутки времени, нужно подготовить данные таким образом, чтобы везде была информация за одинаковый период

4659
4077
7052
5510

In [61]:
def data_cutting(data, tickers, tables_len):
    min_len = min(tables_len)
    for ticker in tickers:
        data[ticker] = data[ticker][::-1].iloc[:min_len,:]
        data[ticker] = data[ticker][1:][::-1]

def tickers_download(tickers, dictionary):
    tables_len = []
    for i in range(len(tickers)):
        data = yf.Ticker(tickers[i]).history(period="max")
        daily[tickers[i]] = data
    
        data['pct_change'] = data[::-1]['Close'].pct_change()
        length = len(data)
        tables_len.append(length)
    
    data_cutting(daily, tickers, tables_len)

In [43]:
data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1999-03-10,44.497315,44.524513,43.762946,44.442917,5232000,0.0,0.0
1999-03-11,44.769283,45.027672,43.790125,44.660488,9688600,0.0,0.0
1999-03-12,44.497316,44.524515,43.218971,43.572556,8743600,0.0,0.0
1999-03-15,43.898920,44.878079,43.436540,44.823681,6369000,0.0,0.0
1999-03-16,45.014103,45.394886,44.524523,45.204494,4905800,0.0,0.0
...,...,...,...,...,...,...,...
2021-01-25,328.910004,330.320007,321.410004,328.109985,39080600,0.0,0.0
2021-01-26,328.850006,329.760010,327.220001,328.589996,25498100,0.0,0.0
2021-01-27,326.260010,326.269989,317.359985,319.429993,55264000,0.0,0.0
2021-01-28,320.670013,326.420013,320.029999,321.320007,42836300,0.0,0.0
2021-01-29,319.579987,320.720001,312.760010,314.559998,55164200,0.0,0.0

In [62]:
tickers_download(tickers, daily)

In [64]:
daily[tickers[0]]

,Open,High,Low,Close,Volume,Dividends,Stock Splits,pct_change
Date,,,,,,,,
2004-11-18,55.397075,55.552429,55.390601,55.520061,110100,0.0,0,0.005510
2004-11-19,55.474745,55.507113,55.125201,55.215824,2162100,0.0,0,-0.000703
2004-11-22,55.183449,55.299966,55.176975,55.254654,168100,0.0,0,0.000938
2004-11-23,55.196391,55.403531,55.157554,55.202866,183600,0.0,0,-0.001405
2004-11-24,55.241695,55.280537,55.183439,55.280537,51900,0.0,0,0.003643
...,...,...,...,...,...,...,...,...
2021-01-22,118.500000,118.599998,118.440002,118.580002,4706200,0.0,0,-0.004032
2021-01-25,118.750000,119.059998,118.709999,119.059998,5689200,0.0,0,0.000336
2021-01-26,118.940002,119.059998,118.919998,119.019997,4257100,0.0,0,-0.001175
2021-01-27,119.220001,119.339996,119.120003,119.160004,5764700,0.0,0,0.002608
2021-01-28,119.000000,119.010002,118.720001,118.849998,5394200,0.0,0,0.001770