In [3]:
import pandas as pd
import numpy as np
import yfinance as yf

In [12]:
tickers = ['IEF', 'GLD', 'SPY', 'QQQ']
daily = {}

In [13]:
for i in range(len(tickers)):
    data = yf.Ticker(tickers[i]).history(period="max")
    daily[tickers[i]] = data

In [15]:
daily['IEF']

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2002-07-30,47.012063,47.115336,46.874363,46.914524,41300,0.0,0
2002-07-31,47.075214,47.379295,47.075214,47.344868,32600,0.0,0
2002-08-01,47.356302,47.562848,47.344825,47.539898,71400,0.0,0
2002-08-02,47.631712,48.021854,47.562866,47.907108,120300,0.0,0
2002-08-05,48.010383,48.148079,47.924322,48.148079,159300,0.0,0
...,...,...,...,...,...,...,...
2021-01-25,118.750000,119.059998,118.709999,119.059998,5689200,0.0,0
2021-01-26,118.940002,119.059998,118.919998,119.019997,4257100,0.0,0
2021-01-27,119.220001,119.339996,119.120003,119.160004,5764700,0.0,0
2021-01-28,119.000000,119.010002,118.720001,118.849998,5394200,0.0,0
2021-01-29,118.510002,118.790001,118.470001,118.639999,7952100,0.0,0